body{
	background: white;
	color: black;
	padding:1%
}

.button {
	font: bold 12px Arial;
	text-decoration: none;
	background-color: #EEEEEE;
	color: #333333;
	padding: 1px 4px 1px 4px;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
}

img {
	display: display: inline-block
}

span {
	font-weight: bold;
	
}

.topright {
   position:absolute;
   top:0;
   right:0;
}